:root {
    --black: #101318;
    --white: #DCDFE4;
    --royal-blue: #224FAA; /* Primary blue */
    --dark-blue: #2A2E4E; /* Secondary blue */
    --orange: #FA9C37;
    --light-blue: #667CB7; /* Backgrounds */
    --lighter-blue: #9EACD1; /* Backgrounds */
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.hero-div {
    background-color: var(--royal-blue);
    padding: 2.5vw;
}

.hero-section {
    display: flex;
    align-items: center;
    gap: 1vw; 
}

.main-title {
    color: var(--white);
    font-family: Oswald, sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 6vw;
}

#mainDiv {
    border-right: 0.1vw solid var(--white);
    padding-left: 3vw;
    padding-right: 3vw;
    max-width: 65vw;
}

.subtitle {
    color: var(--lighter-blue);
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin: 0;
    padding-right: 2vw;
    font-size: 2.5vw;
}

.body-text {
    color: var(--white);
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
}

.contact-info {
    align-content: center;
}

.contact-info ul {
    list-style-type: none;
}
.contact-info li {
    color: var(--white);
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    
}

.contact-info li i {
  padding: 0.5vw;
}

.contact-info li a {
    color: var(--white);
    text-decoration: none;
}

.contact-info li:last-child {
    margin-bottom: 0;
}

@media (max-aspect-ratio: 4/3) {
  .hero-section {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 6vw;
  }

  #mainDiv {
    border-right:0;
    border-bottom: 0.1vw solid var(--white);
    width: 100%;
    padding-bottom: 3vw;
    max-width: 100vw;
  }

  .subtitle {
    padding-right: 0;
  }

  .contact-info ul {
    padding-left: 3vw;
    display: flex;
    gap: 3vw
  }

  .contact-info li {
    display: inline;
  }
}





